<script type="text/x-handlebars" id="notes">
	<p id="notesMsg"></p>
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar" id="notes-sidebar">
			<ul class="nav nav-sidebar">
				{{#each}}
				<li>{{#link-to 'note' this.id}}{{file_name}}{{/link-to}}</li>
				{{/each}}
				<li id="noteAddBtn">{{#link-to 'noteadd' classNames="btn btn-lg btn-primary btn-block" id="create-note-button"}}Create Note {{/link-to}}</li>
			</ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header" id="notes-header">Notes</h1>
			{{outlet}}
		</div>
	</div>
</script>

<script type="text/x-handlebars" id="noteadd">
  <div id="note-container">
    <p>Name: <font color="black">{{input type="text" value=name id="note-name-field"}}</font></p>
    <button class="btn btn-lg btn-primary" id="create-note-submit" {{action 'add' name}}>
      Create Note
    </button>
    <p id="notesMsg"></p>
  </div>
</script>

<script type="text/x-handlebars" id="note">
	<h1>{{file_name}}</h1>
	stored as:{{stored_as}}
	{{#if isEditing}}
    	{{partial 'note/edit'}}
    	<button {{action 'doneEditing'}} id="done-button">Done</button>
    {{else}}
    	<p>{{contents}}</p>
    	<button {{action 'editNote'}} id="edit-button">Edit</button>
  	{{/if}}
</script>

<script type="text/x-handlebars" id="note/_edit">
  <p>{{textarea class="input-xlarge" type="textarea" value=contents id="user-edit-field"}}</p>
</script>
